<li class="seat-cell">
    {% if seat.is_available %}
    <a
        class="seat-icon seat-icon--available"
        href="{% url 'reserve-seat' seat.id %}"
        hx-get="{% url 'reserve-seat' seat.id %}"
        hx-target="closest li"
        hx-swap="outerHTML"
    >
        {{ seat.row }}{{ seat.number }}
        <span class="visually-hidden">(available)</span>
    </a>
    {% else %}
    <span class="seat-icon seat-icon--reserved">
        {{ seat.row }}{{ seat.number }}
        <span class="visually-hidden">(reserved)</span>
    </span>
    {% endif %}
</li>
